
    <div>

        <app-header></app-header>


        <div class="gray-bg">

            <div class="row wrapper border-bottom white-bg page-heading">

                <div class="col-lg-2">

                </div>
            </div>
            <div class="wrapper wrapper-content animated fadeInRight">

                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>Ces Utilisateurs Vous Envoie De La Monnaie</h5>

                                <div class="ibox-tools">
                                    <a class="collapse-link">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                        <i class="fa fa-wrench"></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-user">
                                        <li>
                                            <a href="#">Config option 1</a>
                                        </li>
                                        <li>
                                            <a href="#">Config option 2</a>
                                        </li>
                                    </ul>
                                    <a class="close-link">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="ibox-content">
                                <input type="text" class="form-control input-sm m-b-xs" id="filter" placeholder="Search in table">

                                <table class="footable table table-stripped" data-page-size="8" data-filter=#filter>
                                    <thead>
                                        <tr>
                                            <th>Nom Receiver</th>
                                            <th>Prenom Receiver</th>

                                            <th>Date Envoie</th>
                                            <th>Date Limite</th>
                                            <th>Somme</th>
                                            <th>Recuperer</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <ng-container *ngFor="let n of recupmoney$|async">

                                            <tr class="gradeX">
                                                <td>{{(n.receiver).nom}}</td>
                                                <td>{{(n.receiver).prenom}}</td>
                                                <td>{{n.datenotif}}
                                                </td>
                                                <td>{{n.datelimite}}
                                                </td>
                                                <td class="center">{{n.somme}}</td>
                                                <td class="center">
                                                    <a (click)="Recuperer(n,id)">Recuperer</a>
                                                </td>

                                            </tr>
                                        </ng-container>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="5">
                                                <ul class="pagination pull-right"></ul>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row wrapper border-bottom white-bg page-heading">

                <div class="col-lg-2">

                </div>
            </div>
            <app-footer></app-footer>

        </div>
    </div>



